In [16]:
import pandas as pd
from operator import attrgetter
import seaborn as sns
from matplotlib import pyplot as plt
from matplotlib import colors as mcolors
import numpy as np

In [17]:
data = pd.read_csv("Data_Retention.csv", index_col = 0)

In [18]:
data.head()

  dlk_cob_date                               user_id
0   2023-08-22  a95b0e7e-deda-4cb8-81d2-cff4a01e9077
1   2023-06-12  4f53a875-847f-47cb-ab16-3517ca9cf92c
2   2024-08-15  f04fb972-ff9c-41ce-8dbc-a0984e6017ae
3   2023-12-08  1d9bcb51-351d-4679-8aba-95f38b9c56e9
4   2024-10-15  21d807eb-1ae4-4061-a403-96b5eefdd312

In [19]:
data["dlk_cob_date"] = pd.to_datetime(data["dlk_cob_date"])

In [20]:
data_copy = data.copy()

In [21]:
data_copy["order_period"] = data_copy["dlk_cob_date"].dt.to_period("M")

In [22]:
data_copy["order_period_day"] = data_copy["dlk_cob_date"].dt.to_period("D")

In [23]:
data_copy["cohort"] = data_copy.groupby("user_id")["dlk_cob_date"].transform("min").dt.to_period("M")

In [24]:
data_copy["cohort_day"] = data_copy.groupby("user_id")["dlk_cob_date"].transform("min").dt.to_period("D")

In [25]:
data_copy["period_number_month"] = np.floor((data_copy.order_period_day - data_copy.cohort_day).apply(attrgetter("n")) / 30)

In [26]:
data_copy.head()

,dlk_cob_date,user_id,order_period,order_period_day,cohort,cohort_day,period_number_month
0,2023-08-22,a95b0e7e-deda-4cb8-81d2-cff4a01e9077,2023-08,2023-08-22,2023-03,2023-03-31,4.0
1,2023-06-12,4f53a875-847f-47cb-ab16-3517ca9cf92c,2023-06,2023-06-12,2023-04,2023-04-04,2.0
2,2024-08-15,f04fb972-ff9c-41ce-8dbc-a0984e6017ae,2024-08,2024-08-15,2023-12,2023-12-04,8.0
3,2023-12-08,1d9bcb51-351d-4679-8aba-95f38b9c56e9,2023-12,2023-12-08,2023-07,2023-07-28,4.0
4,2024-10-15,21d807eb-1ae4-4061-a403-96b5eefdd312,2024-10,2024-10-15,2023-04,2023-04-10,18.0

In [27]:
df_cohort = data_copy.groupby(["cohort", "period_number_month"]).agg(n_customers = ("user_id","nunique")).reset_index()

In [28]:
df_cohort_april = df_cohort[df_cohort["cohort"] == "2023-04"]

In [29]:
df_cohort_april

     cohort  period_number_month  n_customers
63  2023-04                  0.0          591
64  2023-04                  1.0          213
65  2023-04                  2.0          178
66  2023-04                  3.0          179
67  2023-04                  4.0          172
68  2023-04                  5.0          169
69  2023-04                  6.0          178
70  2023-04                  7.0          146
71  2023-04                  8.0          137
72  2023-04                  9.0          135
73  2023-04                 10.0          139
74  2023-04                 11.0          129
75  2023-04                 12.0          138
76  2023-04                 13.0          135
77  2023-04                 14.0          132
78  2023-04                 15.0          128
79  2023-04                 16.0          119
80  2023-04                 17.0          116
81  2023-04                 18.0           94